[Desktop Entry]
Name=MX Flash Manager
Name[ca]=MX Flash Manager
Name[de]=Flash-Manager für MX
Name[el]=Διαχειριστής του Flash για MX
Name[es]=MX Gestor de Flash
Name[fr]=MX Gestionnaire de Flash
Name[it]=MX Flash Manager
Name[ja]=MX Flash Manager
Name[nl]=MX Flash-Beheer
Name[pt]=MX_Gestor de Flash
Name[ro]=MX Manager Flash
Name[ru]=MX Менеджер Flash
Name[sv]=Flash-Hanterare för MX
Name[tr]=MX Flash Yöneticisi
Comment=Adobe Flash and PepperFlash manager
Comment[ca]=Configuració senzilla d'Adobe Flash 
Comment[de]=Einfacher Manager von Adobe Flash
Comment[el]=Απλό Διαχειριστή του AdobeFlash
Comment[es]=Configuración simple de Adobe Flash
Comment[fr]=Simple Gestionnaire Adobe Flash
Comment[it]=Configurazione semplice d'Adobe Flash
Comment[ja]=シンプルな Adobe Flash マネージャー
Comment[nl]=Eenvoudige Adobe Flash-Configuratie
Comment[pt]=Configuração fácil do Adobe Flash
Comment[ro]=Simplu manager pentru Adobe Flash
Comment[ru]=Простая конфигурация Adobe Flash
Comment[sv]=Enkel Adobe Flash-Konfiguration
Comment[tr]=Adobe Flash and PepperFlash manager
Exec=su-to-root -X -c mx-flash
Icon=mx-flash
NoDisplay=false
Categories=System;MX-Maintenance;
Type=Application
