[Desktop Entry]
Name=MX Flash Manager
Name[ca]=MX Flash Manager
Name[de]=Flash-Manager für MX
Name[el]=Διαχειριστής του Flash για MX
Name[es]=MX Gestor de Flash
Name[fr]=MX Gestionnaire de Flash
Name[it]=MX Flash Manager
Name[ja]=MX Flash Manager
Name[nl]=MX Flash-Beheer
Name[pt]=MX_Gestor de Flash
Name[ro]=MX Manager Flash
Name[ru]=MX Менеджер Flash
Name[sv]=Flash-Hanterare för MX
Name[tr]=MX Flash Yöneticisi
Comment=Adobe Flash and PepperFlash manager
Comment[ca]=Gestor de l'Adobe Flash i PepperFlash 
Comment[de]=Manager von Adobe Flash und PepperFlash
Comment[el]=Διαχείριση του Adobe Flash και PepperFlash
Comment[es]=Adobe Flash y gestor de PepperFlash
Comment[fr]=Gestionnaire d'Adobe Flash et PepperFlash
Comment[it]=Gestore configurazione d'Adobe Flash e PepperFlash
Comment[ja]=Adobe Flash と PepperFlash の管理
Comment[nl]=Adobe Flash en PepperFlash beheer
Comment[pt]=Gestor de Adobe Flash e PepperFlash
Comment[ro]=Gestionare Adobe Flash și PepperFlash
Comment[ru]=ПМенеджер Adobe Flash и PepperFlash
Comment[sv]=Adobe Flash och PepperFlash hanterare
Comment[tr]=Adobe Flash and PepperFlash manager
Exec=su-to-root -X -c mx-flash
Icon=mx-flash
NoDisplay=false
Categories=System;MX-Maintenance;
Type=Application
