Source: mx-flash
Section: system
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: debhelper (>=7.0.50~),
               libqt4-dev, 
	       libqtwebkit-dev
Standards-Version: 3.9.4
Homepage: https://github.com/AdrianTM/mx-flash

Package: mx-flash
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cron
Suggests: anacron
Description: Adobe Flash (tm) plugin manager
 The MX Adobe Flash (tm) Manager provides an easy way to install and manage the
 Adobe Flash (tm) plugin, and includes an option to check for and update the
 plugin automatically.
 *
 WARNING: Some options of this program cause the Adobe Flash Player to be
 downloaded from www.adobe.com.
 The End User License Agreement of the Adobe Flash Player is available at
 www.adobe.com.